// dashboard pattern
.card {
  background-colour: #f0f0f0;
  border: 1px solid #dee0e2;
}

.card .card-body {
  border-bottom: 1px solid #dee0e2;
  padding: 12px;
  min-height: 83px;
  background-color: #f0f0f0;
}

.card .card-body .card-sub-heading span {
  display: block;
  color: #505a5f;
}

.card .card-body .card-sub-heading span.font-large.bold {
  color: #0b0c0c;
  font-size: 32px;
}

.card .card-action {
  border-top: 0;
  padding: 12px 12px 25px 12px;
}

.card .card-action ul li {
  margin: 0 0 1em;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}
.card {
  flex-grow: 1;
  flex-basis: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width:600px) and (max-width:900px) {
  .card {
    flex-basis: 45.99%;
    // Every card in the first row needs horizontal margin
    &:nth-child(2n-1) {
      margin-right: 3%;
    }
    // Every card in the second row needs horizontal margin
    &:nth-child(2n-2) {
      margin-left: 3%;
    }
  }
}

@media screen and (min-width:900px) {
  .card {
    flex-basis: 30.99%;

    &:nth-child(3n-1) {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
}

html[data-useragent*='MSIE 10.0'] .flex-container {
  .card {
    flex-basis: 31%;
    margin: 3%;
  }
}
